 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(238,234,253,0.2), rgba(238,234,253,0.2)), url("images/network.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 427px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 706px;
  margin: 185px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 153px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-family: Merriweather, serif;
  font-size: 3rem;
  margin: 51px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 186px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 67px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 1px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 279px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 219px;
  height: auto;
  margin: 30px auto 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 2.25rem;
  margin: 6px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 90px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 70px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 141px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 35px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-2 .u-group-1 {
    min-height: 203px;
    margin-bottom: -7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 7px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 428px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: -3px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 368px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  font-style: normal;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: -19px auto 0 14px;
}

.u-section-4 .u-text-4 {
  margin: 14px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 368px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 17px 0;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 322px;
  width: 506px;
  margin: 36px auto -20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px 0;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 307px;
    width: 343px;
    margin: 0 -1px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 85px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 30px auto;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 555px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0 22px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 19px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 438px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 47px 74px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-6 .u-group-elements-1 {
  width: 118px;
  min-height: 48px;
  margin: 15px auto 0;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 48px;
  min-width: 16px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-social-icons-2 {
  height: 48px;
  min-height: 16px;
  width: 48px;
  min-width: 16px;
  margin: -48px 0 0 auto;
}

.u-section-6 .u-icon-2 {
  height: 48px;
}

.u-section-6 .u-group-elements-2 {
  width: 169px;
  min-height: 58px;
  height: auto;
  margin: 31px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 0;
}

.u-section-6 .u-text-5 {
  margin: 7px auto 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 438px;
  background-image: url("images/onlineprinters-oIpJ8koLx_s-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 416px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 37px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -29px;
    margin-bottom: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.75rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 262px;
  }
}